<!-- Capa de contenido ayuda sesión -->
<style>
h1, .h1 {
    font-size:22px;
}
#accordion h3{
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #666;
	background-color:#CCC;
	height:26px;
	padding:2px 6px;
	vertical-align:middle;
	cursor:pointer;
	margin: 1px;
}
#accordion div{
	display:none;
}
#accordion div p{
	padding:2px;
}
</style>
<div class="nosotros">
  <div class="col-md-12" style="padding:6px">
    <h1>{{titulo}}</h1>
    <div id="accordion" ng-bind-html="info_ayuda"></div>
  </div>
</div>
<script>
$(document).ready(function(){
	$('body').on('click', '#accordion h3', function(event) {
		event.preventDefault();
		$(this).next('div').slideToggle();
		return false;
	});	
});
</script>
<!-- Fin capa de contenido ayuda sesión -->