
<!-- Cotenido slider buffet -->
<div class="menuplatolist">

	<div class="col-md-12" ng-repeat="dish in dishes">
		<div class="title"><img src="images/{{imageCat}}.png" alt="..." title=".." />{{dish.name}} <span>{{dish.price | noFractionCurrency:0}}</span></div>
		<div class="btnts">
			<div id="detalle_{{dish.id}}" class="detalle" ng-dblclick="detailDish(dish)">
				<h1>{{dish.name}} <span ng-if="dish.audio != null" ng-click="playAudio()"></span> </h1>
				<p>{{dish.description}}</p>
				<div class="vene" ng-click="detailDish(dish)">
					<div class="col-xs-6 col-md-6">
						<label>Grasas <span>{{dish.grease}}</span></label>
						<label>Proteina <span>{{dish.proteins}}</span></label>
					</div>
					<div class="col-xs-6 col-md-6">
						<label>Carbohidratos <span>{{dish.carbohydrates}}</span></label>
						<label>Calorias <span>{{dish.calories}}</span></label>
					</div>
				</div>
			</div>
			<br>
			<img title="..." alt="..." src="images/menu-menos.png" />
			<img src="images/lupamenu.png" alt="..." title="..." class="masdetalle" ng-click="detailDish(dish)" />
			<img src="images/masmenu.png" alt="..." title="..." />
		</div>
		<div class="contimg"><img src="{{dish.images}}" alt="..." title="..." /></div>
	</div>

</div>

<div class="verplato">
	<img src="images/cerr_vpla.png" alt="..." alt="..." class="cerrves" />
	<img src="images/verplagran.png" alt="..." title="..." />
</div>
<div class="verplatoico"><img src="images/ver_plato.png" alt="..." title="..." class="img1" ng-click="fullDish()"/></div>
<!-- fin contenido slider buffet -->
<script type="text/javascript">
	$(function(){				
				// Tamaño container
				$(".container").css({"min-height":$(document).height()});
				// Tamaño alto menu inferior
				$(window).load(function(){ $(".menupie ul li").css({"height":$("li.carrito a img").height()}); })
				//fin tamaño container 

				$(".detalle").hide();

	})		
</script>
