<!-- Contenido  buffet -->
<div class="miscompras">
	<div class="comprasitem">
		<div class="imgcont" >
			<div class="padre">

				<div class = "derrap">

					<div class="contenedor">

						<div class="sopa">
							<img src="images/plato_2.png" style="width:100%;" border="0" margin="0"/>

							<div class="sopacont">
								<img src="images/sopa.png" style="width:100%;" border="0" margin="0"/>
							</div>

						</div>

						<div class="vaso">
							<img src="images/plato_3.png" style="width:100%;" border="0" margin="0"/>

							<div class="jugo">
								<img src="images/jugo.png" style="width:100%;" border="0" margin="0"/>
							</div>

						</div>

						<div class="plato">
							<img src="images/plato.png" style="width:100%;" border="0" margin="0"/>

							<div class="arroz">
								<img src="images/arroz_2.png" style="width:100%;" border="0" margin="0"/>
							</div>

							<div class="guarnicion">
								<img src="images/guarnicion_2.png" style="width:100%;" border="0" margin="0"/>
							</div>

							<div class="carne">
								<img src="images/c109_2.png" style="width:100%;" border="0" margin="0"/>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="contnn"><h3>Solomillo de Cerdo Blanco</h3>		
			<p>Item #1<br/>Item #2<br/>Item #3<br/>Item #4<br/>Item #5<br/>Adición #1<br/>Adición #2<br/>Adición #3<br/>Adición #4</p>
		</p>
		<div class="icodeli">
			<a href=""><span class="elimina"></span></a>
			<span class="contador"><label>1</label></span>
			<a href=""><span class="suma"></span></a>
		</div>			
	</div>
	<div class="icodeta">
		<div>
			<img src="images/sopas_mini_ok.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/arroz_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/carnes_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/guarnicion_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/bebidas_mini.png" alt="..." title="...">
		</div> 
		<div class="subtt">
			<label>$12.500</label>
		</div>
	</div>
</div>
<div class="comprasitem">
	<div class="imgcont" >
		<div class="padre">

			<div class = "derrap">

				<div class="contenedor">

					<div class="sopa">
						<img src="images/plato_2.png" style="width:100%;" border="0" margin="0"/>

						<div class="sopacont">
							<img src="images/sopa.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="vaso">
						<img src="images/plato_3.png" style="width:100%;" border="0" margin="0"/>

						<div class="jugo">
							<img src="images/jugo.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="plato">
						<img src="images/plato.png" style="width:100%;" border="0" margin="0"/>

						<div class="arroz">
							<img src="images/arroz_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="guarnicion">
							<img src="images/guarnicion_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="carne">
							<img src="images/c109_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="contnn"><h3>Solomillo de Cerdo Blanco</h3>
		<div class="icodeli">
			<a href=""><span class="elimina"></span></a>
		</div>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</p>
	</div>
	<div class="icodeta">
		<div>
			<img src="images/sopas_mini_ok.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/arroz_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/carnes_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/guarnicion_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/bebidas_mini.png" alt="..." title="...">
		</div> 
		<div class="subtt">
			<label>$12.500</label>
		</div>
	</div>
</div>
<div class="comprasitem">
	<div class="imgcont" >
		<div class="padre">

			<div class = "derrap">

				<div class="contenedor">

					<div class="sopa">
						<img src="images/plato_2.png" style="width:100%;" border="0" margin="0"/>

						<div class="sopacont">
							<img src="images/sopa.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="vaso">
						<img src="images/plato_3.png" style="width:100%;" border="0" margin="0"/>

						<div class="jugo">
							<img src="images/jugo.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="plato">
						<img src="images/plato.png" style="width:100%;" border="0" margin="0"/>

						<div class="arroz">
							<img src="images/arroz_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="guarnicion">
							<img src="images/guarnicion_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="carne">
							<img src="images/c109_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="contnn"><h3>Solomillo de Cerdo Blanco</h3>
		<div class="icodeli">
			<a href=""><span class="elimina"></span></a>
		</div>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</p>
	</div>
	<div class="icodeta">
		<div>
			<img src="images/sopas_mini_ok.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/arroz_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/carnes_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/guarnicion_mini.png" alt="..." title="...">
		</div>
		<div>
			<img src="images/bebidas_mini.png" alt="..." title="...">
		</div> 
		<div class="subtt">
			<label>$12.500</label>
		</div>
	</div>
</div>
<div class="comprasitem">
	<div class="imgcont" >
		<div class="padre">

			<div class = "derrap">

				<div class="contenedor">

					<div class="sopa">
						<img src="images/plato_2.png" style="width:100%;" border="0" margin="0"/>

						<div class="sopacont">
							<img src="images/sopa.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="vaso">
						<img src="images/plato_3.png" style="width:100%;" border="0" margin="0"/>

						<div class="jugo">
							<img src="images/jugo.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="plato">
						<img src="images/plato.png" style="width:100%;" border="0" margin="0"/>

						<div class="arroz">
							<img src="images/arroz_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="guarnicion">
							<img src="images/guarnicion_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="carne">
							<img src="images/c109_2.png" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="contnn"><h3>Solomillo de Cerdo Blanco</h3>
		<div class="icodeli">
			<a href=""><span class="elimina"></span></a>
		</div>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</p>
	</div>
	<div class="icodeta">
		<div>
			<img src="images/sopas_mini_ok.png" alt="..." title="..." />
		</div>
		<div>
			<img src="images/arroz_mini.png" alt="..." title="..." />
		</div>
		<div>
			<img src="images/carnes_mini.png" alt="..." title="..." />
		</div>
		<div>
			<img src="images/guarnicion_mini.png" alt="..." title="..." />
		</div>
		<div>
			<img src="images/bebidas_mini.png" alt="..." title="..." />
		</div> 
		<div class="subtt">
			<label>$12.500</label>
		</div>
	</div>
	<div class="contpag">
		<div class="cont">Continúe con el pago</div>
	</div>			
</div>

</div>		
<!-- fin contenido slider buffet -->
<script>
	$( document ).ready(function() {
		var lastScrollTop = 0;
		$(".container").scroll(function(){ 
			var st = $(this).scrollTop();
			if (st > lastScrollTop){
        //console.log("bajando");        
        $('.menupie').stop(true, true).animate({ bottom: "-12%" }, 3000);
        $('.contpag').stop(true, true).animate({ bottom: "-4.5%" }, 3000);
    } else {
         //console.log("subiendo");
         $('.menupie').stop(true, true).animate({ bottom: "0%" }, 3000);
         $('.contpag').stop(true, true).animate({ bottom: "11.6%" }, 3000);
     }
     lastScrollTop = st;
     return false;
 });
	});
</script>