<!-- Contenido Compras -->
<div class="miscompras">
	<div class="comprasitem">
		<div class="imgcont" ><img src="images/img_detalle_pedido.png" alt="..." title="..." /></div>
		<div class="contnn"><h3>Solomillo de Cerdo Blanco</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</p>
			<div class="icodeli">
				<a href=""><span class="edita"></span></a>
				<a href=""><span class="elimina"></span></a>
			</div></div>
			<div class="icodeta">
				<div>
					<img src="images/sopas_mini.png" alt="..." title="..."/>
					<span>$2.500</span>
				</div>
				<div>
					<img src="images/arroz_mini.png" alt="..." title="..."/>
					<span>$2.500</span>
				</div>
				<div>
					<img src="images/carnes_mini.png" alt="..." title="..."/>
					<span>$2.500</span>
				</div>
				<div>
					<img src="images/guarnicion_mini.png" alt="..." title="..."/>
					<span>$2.500</span>
				</div>
				<div>
					<img src="images/bebidas_mini.png" alt="..." title="..."/>
					<span>$2.500</span>
				</div>
				<div class="subtt">
					<span>TOTAL X1</span>
					<label>$12.500</label>
				</div>
			</div>
		</div>
		<div class="comprasitem">
			<div class="imgcont" ><img src="images/img_detalle_pedido.png" alt="..." title="..." /></div>
			<div class="contnn"><h3>Solomillo de Cerdo Blanco</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
				</p>
				<div class="icodeli">
					<a href=""><span class="edita"></span></a>
					<a href=""><span class="elimina"></span></a>
				</div></div>
				<div class="icodeta">
					<div>
						<img src="images/sopas_mini.png" alt="..." title="..."/>
						<span>$2.500</span>
					</div>
					<div>
						<img src="images/arroz_mini.png" alt="..." title="..."/>
						<span>$2.500</span>
					</div>
					<div>
						<img src="images/carnes_mini.png" alt="..." title="..."/>
						<span>$2.500</span>
					</div>
					<div>
						<img src="images/guarnicion_mini.png" alt="..." title="..."/>
						<span>$2.500</span>
					</div>
					<div>
						<img src="images/bebidas_mini.png" alt="..." title="..."/>
						<span>$2.500</span>
					</div>
					<div class="subtt">
						<span>TOTAL X1</span>
						<label>$12.500</label>
					</div>
				</div>
			</div>
			<div class="facturavir">
				<div class="contf">
					<label class="ttfac">FACTURAVIRTUAL</label>
					<div class="tr">
						<div class="td">
							<label>Order #1</label>
							<label>Order #2</label>
							<label>Order #3</label>
						</div>
						<div class="td">
							<label>$8.900</label>
							<label>$8.900</label>
							<label>------</label>
						</div>
					</div>
					<div class="tr brdto">
						<div class="td">
							<label>Valor domicilio</label>
						</div>
						<div class="td">
							<label>$1.000</label>
						</div>
					</div>
					<div class="tr ttl">
						<div class="td">
							<label>TOTAL</label>
						</div>
						<div class="td">
							<label>$18.800</label>
						</div>
					</div>
					<div class="btnc">
						<button></button>
					</div>
				</div>
			</div>


		</div>
		<!-- fin contenido Compras -->	