<!-- Capa de contenido felicitaciones sesión -->
<div class="buffet contenidogeneral">
  <div class="felicitation">

    <h1>Felicitaciones y reclamos</h1>

    <div class="feli_re">

      <h3>Que quieres hacer?</h3>

      <div class="checkbox">

        <label>

          <input type="checkbox" checked> Felicitaciones

        </label>

      </div>

      <div class="checkbox">

        <label>

          <input type="checkbox"> Reclamos

        </label>

      </div>

      <div class="form-group">

        <textarea rows="6" cols="50"></textarea>

      </div>

      <div class="form-group">

        <button class="btn btn-success">Enviar</button>

      </div>  

    </div>  

  </div>

</div>         
<!-- Fin capa de contenido felicitaciones sesión -->