<!-- Contenido slider  -->
<div class="buffet contenidogeneral presen">
	<div class="n_close"><a href="#"><img src="images/m_close.png"></a></div>
	<div id="present" class="owl-carousel owl-theme">
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla1-1299.jpg" alt="..." title="..." ></div>
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-21300.jpg" alt="..." title="..." ></div>	
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-31301.jpg" alt="..." title="..." ></div>	
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-41302.jpg" alt="..." title="..." ></div>	
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-51303.jpg" alt="..." title="..." ></div>	
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-61304.jpg" alt="..." title="..." ></div>	
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-71307.jpg" alt="..." title="..." ></div>	
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-81305.jpg" alt="..." title="..." ></div>	
	<div class="item"><img src="http://buffetexpress.co/imagenes/guia/imagen1/mediana/pantalla-91306.jpg" alt="..." title="..." ></div>	
	</div>
</div>
<!-- fin contenido slider  --> 
<script type="text/javascript">
	$(function(){
		$("#present").owlCarousel({
				      navigation : true, // Show next and prev buttons
				      slideSpeed : 300,
				      pagination : true,
				      paginationSpeed : 400,
				      navigationText : ["",""],
				      singleItem:true
				  });

		$(".fledere").click(function(){
			$("#present").trigger('owl.next');
		})
		$(".flechaiz").click(function(){
			$("#present").trigger('owl.prev');
		})
	})
</script>