		<!-- Contenido menu -->
		<div class="menuplato">

			<a href="#categoria/5/sopas y cremas" class="col-xs-6 col-md-6"><img src="images/sopas.png"/></a>
			<a href="#categoria/1/arroz" class="col-xs-6 col-md-6"><img src="images/arroz.png"/></a>
			<a href="#categoria/3/carnes" class="col-xs-6 col-md-6"><img src="images/carnes.png"/></a>
			<a href="#categoria/4/guarnición" class="col-xs-6 col-md-6"><img src="images/guarnicion.png"/></a>
			<a href="#categoria/2/bebidas" class="col-xs-6 col-md-6"><img src="images/bebidas.png"/></a>
			<a href="#" class="col-xs-6 col-md-6"><img src="images/platos.png"/></a>
			<div class="opcio">
				<div>
					<img src="images/flemenu.png" alt="..." title="..."/> Número de platos
					<div class="opciones" >
						<a href=""><img src="images/menos.png" alt="..." title="..."/></a>
						<a href=""><img src="images/mas.png" alt="..." title="..."/></a>
					</div>
				</div>
				<div class="numero">0</div>
			</div>
		</div>
		<!-- fin contenido menu -->	