<!-- Cotenido slider buffet -->
<img src="images/loading.gif" style="display:none;" id="img_load" />
<div class="menuplato">	
	<a href="#categoria/ins/1/sopas y cremas" class="col-xs-6 col-md-6"><img src="images/sopas.png" class="imgCat"/></a>
	<a href="#categoria/ins/2/arroz" class="col-xs-6 col-md-6"><img src="images/arroz.png" class="imgCat"/></a>
	<a href="#categoria/ins/3/carnes" class="col-xs-6 col-md-6"><img src="images/carnes.png" class="imgCat"/></a>
	<a href="#categoria/ins/4/guarnición" class="col-xs-6 col-md-6"><img src="images/guarnicion.png" class="imgCat"/></a>
	<a href="#categoria/ins/5/bebidas" class="col-xs-6 col-md-6"><img src="images/bebidas.png" class="imgCat"/></a>
	<div class="col-xs-6 col-md-6">
		<div class="padre">

			<div class = "derrap">

				<div class="contenedor">

					<div class="sopa">
						<img src="images/plato_2.png" style="width:100%;" border="0" margin="0"/>

						<div class="sopacont">
							<img ng-src="{{sopa}}" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="vaso">
						<img src="images/plato_3.png" style="width:100%;" border="0" margin="0"/>

						<div class="jugo">
							<img ng-src="{{bebidas}}" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="plato">
						<img src="images/plato.png" style="width:100%;" border="0" margin="0"/>

						<div class="arroz">
							<img ng-src="{{arroz}}" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="guarnicion">
							<img ng-src="{{guarnicion}}" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="carne">
							<img ng-src="{{carnes}}" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="botones">
	<div class="btn1">
		<a href="" ng-click="addDish('end','B')">    
			<img src="images/check_bu.png">
			<p>Finalizar orden</p>
		</a>
	</div>
	<div class="btn2">
		<a href="" ng-click="addDish('add','B')">
			<img src="images/plus_bu.png">
			<p>Agregar plato</p>            
		</a>
	</div>
	<div class="btn3">
		<span id="num_dish">{{num_dish}}</span>
	</div>
</div>
<script>
	$( document ).ready(function() {
		var lastScrollTop = 0;
        var mHeight= $("li.carrito a img").height();
        $(".container").scroll(function(){ 
         var st = $(this).scrollTop();
         if (st > lastScrollTop){
        //console.log("bajando");        
        $('.menupie').stop(true, true).animate({ bottom: "-12%" }, 3000);
        $('.botones').stop(true, true).animate({ bottom: "0" }, 3000);
    } else {
         //console.log("subiendo");
         $('.menupie').stop(true, true).animate({ bottom: "0%" }, 3000);
         $('.botones').stop(true, true).animate({ bottom: (mHeight-1)+"px" }, 3000);
     }
     lastScrollTop = st;
     return false;
 });
    });
</script>