<!-- Cotenido slider buffet -->
<div class="menuplato">
	<a href="#categoria/5/sopas y cremas" class="col-xs-6 col-md-6"><img src="images/sopas.png"/></a>
	<a href="#categoria/1/arroz" class="col-xs-6 col-md-6"><img src="images/arroz.png"/></a>
	<a href="#categoria/3/carnes" class="col-xs-6 col-md-6"><img src="images/carnes.png"/></a>
	<a href="#categoria/4/guarnición" class="col-xs-6 col-md-6"><img src="images/guarnicion.png"/></a>
	<a href="#categoria/2/bebidas" class="col-xs-6 col-md-6"><img src="images/bebidas.png"/></a>
	<div class="col-xs-6 col-md-6">
		<div class="padre">

			<div class = "derrap">

				<div class="contenedor">

					<div class="sopa">
						<img src="images/plato_2.png" style="width:100%;" border="0" margin="0"/>

						<div class="sopacont">
							<img ng-src="{{sopa}}" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="vaso">
						<img src="images/plato_3.png" style="width:100%;" border="0" margin="0"/>

						<div class="jugo">
							<img ng-src="{{bebidas}}" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

					<div class="plato">
						<img src="images/plato.png" style="width:100%;" border="0" margin="0"/>

						<div class="arroz">
							<img ng-src="{{arroz}}" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="guarnicion">
							<img ng-src="{{guarnicion}}" style="width:100%;" border="0" margin="0"/>
						</div>

						<div class="carne">
							<img ng-src="{{carnes}}" style="width:100%;" border="0" margin="0"/>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="botones">
	<div class="btn1">
		<a href="#compras">    
			<img src="images/check_bu.png">
			<p>Finalizar orden</p>
		</a>
	</div>
	<div class="btn2">
		<a href="" ng-click="addDish()">
			<img src="images/plus_bu.png">
			<p>Agregar plato</p>            
		</a>
	</div>
	<div class="btn3">
		<span id="num_dish">{{num_dish}}</span>
	</div>
</div> 