<!-- Cama de contenido inicio sesión -->
<div class="crear_cuenta" style="padding-top:80px;">  
  <form role="form" id="frmlogin" class="formse" action="">
    <div class="form-group"> <span class="ico-usua"></span>    
      <input type="email" class="form-control" id="email" placeholder="@ Ingresar email" value="{{email}}" readonly="readonly" />
    </div> 
    <div class="form-group"> <span class="ico-usua"></span>    
      <input type="password" class="form-control" id="password" placeholder="Clave" value="{{password}}" />
    </div>    
    <div class="form-group"> <span class="ico-usua"></span>    
      <input type="text" class="form-control" id="name" placeholder="Nombres" value="{{name}}" />
    </div>
    <div class="form-group"> <span class="ico-usua"></span>    
      <input type="text" class="form-control" id="lastname" placeholder="Apellidos" value="{{lastname}}" />
    </div>  
    <div class="form-group"> <span class="ico-usua"></span>    
      <input type="number" class="form-control" id="cellPhone" placeholder="Num. Celular" value="{{cellPhone}}" />
    </div>   
    <div class="form-group">
            <button type="submit" id="login" class="btn btn-default" ng-click="setAccount('edit')">Actualizar datos</button>
    </div>
  </form>
</div>
    <!-- Fin capa de contenido inicio sesión -->