<div class="div_loading">
<div class="msg_div_loading"><img src="images/loading.gif" width="41" height="39" />Procesando información</div>
</div>
<div class="pagosdiv">
    <div class="facturavir">
        <div class="contf">
            <label class="ttfac">FACTURA VIRTUAL</label>
            <div class="tr" ng-bind-html="platos">            
            </div>
            <div class="tr brdto">
                <div class="td">
                    <label>Valor domicilio ({{valor_plato}})</label>
                </div>
                <div class="td">
                    <label>${{domicilio}}</label>
                </div>
            </div>
          <div class="tr brdto bono" style="display:none">
                <div class="td">
                    <label>Valor bono (-) <span id="porc_bono"></span></label>
                </div>
                <div class="td">
                    <label>$<span id="valor_bono"></span></label>
                </div>
            </div>            
            <div class="tr ttl">
                <div class="td">
                    <label>TOTAL</label>
                </div>
                <div class="td">
                    <label>$<span id="total"></span></label>
                </div>
            </div>
            
        </div>
        <div class="confirmacion">
            <label class="ttfac">CONFIRMACIÓN DE PEDIDO</label>
            <div class="tr">
                <p>Tu orden ha sido procesada exitosamente, en breve podras rastrear tu orden en el mapa.</p>
                <p>Fue un placer servirte <b>{{nombre_cliente}}</b>.</p>
                <div id="encuesta">
                <p>Ayudanos a crecer queremos conocer un poco más de tí. completa tus datos en la web y gana un bono de descuento para tu siguiente orden.</p>
                <div class="form-group">     
                <a href="internal.html" class="btn btn-reset">En otra ocasión</a>  
                <a href="http://buffetexpress.co/" target="_blank" class="btn btn-default">Si, Gracias</a>
                </div>
                </div>            
            </div>            
        </div>        
        <div class="bondesc">
            Ingresar bono de descuento
            <br>
            <input id="bono" name="bono" type="text" maxlength="25" ng-model="bono" onblur="angular.element(this).scope().bonoChanged()">
            <input id="hbono" name="hbono" type="hidden" value="" />
            <input id="tipoPago" name="tipoPago" type="hidden" value="efectivo" />
        </div>
        <div class="vrdirc">
            <label>Datos de envío</label>
            <input id="direccion" name="direccion" value="{{direccion}}" type="text" placeholder="Dirección" maxlength="120">
            <input id="numero" name="numero" value="{{numero}}" type="text" placeholder="N° Apt/Ofic" maxlength="4">
            <input id="referencia" name="referencia" value="{{referencia}}" type="text" placeholder="Punto de referencia/Edificio" maxlength="120">
            <label>Direcciones frecuentes</label>
            <ul class="listdirecc" ng-bind-html="direcciones_frecuentes"></ul>
            <div class="medipa">
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-6 col-md-6 un">
                        Forma de pago
                    </div>
                    <div class="col-xs-6 col-md-6 ds">
                        <div class="formpago">
                            <ul>
                                <li id="efectivo" ng-click="setTypePay('efectivo')"><img src="images/pago_efectivo.png" alt="..." title="..."> Efectivo <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                                <li id="datafono" ng-click="setTypePay('datafono')"><img src="images/pago_datafono.png" alt="..." title="..."> Datáfono <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                                <!--<li id="online" ng-click="setTypePay('online')"><img src="images/pago_online.png" alt="..." title="..."> Online <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>-->
                            </ul>
                        </div>
                        <div class="sombra"></div>
                        <img id="img_pago" src="images/boton_efectivo.png" alt="..." title="..." ng-click="viewTypePay()">
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-6 col-md-6 ds">
                        <img src="images/boton_pagar.png" alt="..." title="..." ng-click="SendPay()" id="SendPay">
                    </div>
                    <div class="col-xs-6 col-md-6 un">
                        Enviar orden
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div style="height:100px;"></div> 
</div>