<div class="pagosdiv">
    <div class="facturavir">
        <div class="contf">
            <label class="ttfac">FACTURA VIRTUAL</label>
            <div class="tr" ng-bind-html="platos">            
            </div>
            <div class="tr brdto">
                <div class="td">
                    <label>Valor domicilio ({{valor_plato}})</label>
                </div>
                <div class="td">
                    <label>${{domicilio}}</label>
                </div>
            </div>
            <div class="tr ttl">
                <div class="td">
                    <label>TOTAL</label>
                </div>
                <div class="td">
                    <label>${{total}}</label>
                </div>
            </div>
            
        </div>
        <div class="confirmacion">
            <label class="ttfac">CONFIRMACIÓN PEDIDO</label>
            <div class="tr">
            <p>Su pedido ha sido enviado exitosamente.</p>
                <p>Pronto estaremos en contacto.</p>
            </div>            
        </div>        
        <div class="bondesc">
            Ingresar bono de descuento
            <br>
            <input id="bono" name="bono" type="text" maxlength="25">
        </div>
        <div class="vrdirc">
            <label>Verifica que esta si sea tu dirección</label>
            <input type="text">
            <label>Punto de referencia</label>
            <input type="text">
<!--            <label>Direcciones frecuentes</label>
             <ul class="listdirecc">
                <li>N/A <i class="glyphicon glyphicon-minus-sign"></i></li>
            </ul> -->
            <div class="medipa">
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-6 col-md-6 un">
                        Forma de pago
                    </div>
                    <div class="col-xs-6 col-md-6 ds">
                        <div class="formpago">
                            <ul>
                                <li id="efectivo" ng-click="setTypePay('efectivo')"><img src="images/pago_efectivo.png" alt="..." title="..."> Efectivo <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                                <li id="tarjeta" ng-click="setTypePay('tarjeta')"><img src="images/pago_tarjeta.png" alt="..." title="..."> Tarjeta <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                                <li id="online" ng-click="setTypePay('online')"><img src="images/pago_online.png" alt="..." title="..."> Online <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                            </ul>
                            <img src="images/abajo.png" alt="..." title="..." class="aba">
                        </div>
                        <div class="sombra"></div>
                        <img id="img_pago" src="images/boton_efectivo.png" alt="..." title="..." ng-click="viewTypePay()">
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-6 col-md-6 ds">
                        <img src="images/boton_pagar.png" alt="..." title="..." ng-click="SendPay()">
                    </div>
                    <div class="col-xs-6 col-md-6 un">
                        Enviar orden
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="costoad">
      <div class="cont">
          <img src="images/cerr_vpla.png" alt="..." alt="..." class="cerrvess" ng-click="close('costoad')">
          <h1>CODIGO DINAMICO S.A.S</h1>
          <p>Código Dinámico Es una empresa creada con el fin de acompañar a  sus clientes en el proceso de creacion de su página web de una forma seria, segura, a corto tiempo y económica.</p>   
      </div>
  </div>    
  <div style="height:100px;"></div> 
</div>