<div class="pagosdiv">
    <div class="facturavir">
        <div class="contf">
            <label class="ttfac">FACTURA VIRTUAL</label>
            <div class="tr">
                
            </div>
            <div class="tr brdto">
                <div class="td">
                    <label>Valor domicilio</label>
                </div>
                <div class="td">
                    <label>${{domicilio}}</label>
                </div>
            </div>
            <div class="tr ttl">
                <div class="td">
                    <label>TOTAL</label>
                </div>
                <div class="td">
                    <label>$18.800</label>
                </div>
            </div>
            
        </div>
        <div class="bondesc">
            Ingresar bono de descuento
            <br>
            <input type="text">
        </div>
        <div class="vrdirc">
            <label>Verifica que esta si sea tu dirección</label>
            <input type="text">
            <label>Punto de referencia</label>
            <input type="text">
            <label>Direcciones frecuentes</label>
            <ul class="listdirecc">
                <li> Calle 38 numero <i class="glyphicon glyphicon-minus-sign"></i></li>
            </ul>
            <div class="medipa">
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-6 col-md-6 un">
                        Forma de pago
                    </div>
                    <div class="col-xs-6 col-md-6 ds">
                        <div class="formpago">
                            <ul>
                                <li><img src="images/icoforma.png" alt="..." title="..."> Efectivo <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                                <li><img src="images/icoforma.png" alt="..." title="..."> Tarjeta <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                                <li><img src="images/icoforma.png" alt="..." title="..."> Online <img src="images/pagoho.png" alt="..." title="..." class="icobie"></li>
                            </ul>
                            <img src="images/abajo.png" alt="..." title="..." class="aba">
                        </div>
                        <div class="sombra"></div>
                        <img src="images/icopa1.png" alt="..." title="...">
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-6 col-md-6 ds">
                        <img src="images/icopa1.png" alt="..." title="...">
                    </div>
                    <div class="col-xs-6 col-md-6 un">
                        Pagar
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>