<!-- Capa de contenido recomendar -->
<div class="nosotros">
  <div class="col-md-12 showqr">
    <h1>Comparte y Gana</h1>
    <div style="text-align:center"><img src="{{qr}}" style="width:60%;"></div>
    <div class="col-md-12">
      <p>Dile a tus amigos que descarguen Buffet Express, escaneen tu código QR y obtendrán <b>${{descuento}}</b> en su primera orden <b>(plato a ${{precio}})</b> y tu recibirás un bono igual para tu siguiente orden.</p>
      <p class="comparte"><button class="btn" onclick="scanear();">Escanear</button>&nbsp;<button class="btn" onclick="window.plugins.socialsharing.share('Hola,\r\nDescarga la aplicación Buffet Express y almuerza por $ ####, podes armar tu plato como queras en el primer restaurante online tipo buffet.\r\nEs muy fácil entra a la app y en el menú encontraras la opción para escanear el código QR que te llego con este mensaje o ingresa el siguiente código: Fjf34WX0a,\r\nYa que tienes tu bono por $### has tu orden y paga menos.\r\nEs que poder elegir; también es rico!.', null, 'http://buffetexpress.com.co/REST/resources/plugins/phpqrcode/qr.php?id=1', 'http://buffetexpress.com.co/')">Comparte</button></p>
      <p><b>*Condiciones:</b>
      <ul>
        <li>Tu bono se te entregara cuando tu amigo realice su primera orden (notificaremos a tu celular).</li>
        <li>Se puede utilizar un solo bono por orden.</li>
        <li>Bonos no acumulables.</li>
        <li>No acumulable con otras promociones.</li>
      </ul>      
      </p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
<!-- Fin capa de contenido nosotros sesión -->