        <!-- Cotenido buffet -->
        <div class="buffet contenidogeneral">

            <div class="reds">

                <h1>¡Comparte con tus amigos!</h1>

                <div class="redesi">

                    <a href="#" class="fb"></a>

                    <a href="#" class="yt"></a>

                    <a href="#" class="pin"></a>

                    <a href="#" class="in"></a>

                    <a href="#" class="tw"></a>

                    <a href="#" class="gp"></a>

                </div>  

            </div>

        </div>

        <!-- fin contenido buffet -->