<!-- Contenido slider  -->
		<div class="buffet contenidogeneral">
			<wrap-owlcarousel id="owl-demo" class="owl-carousel owl-theme" 
			data-options="{autoPlay: 5000,stopOnHover: true,slideSpeed : 300,paginationSpeed : 400, singleItem : true}">
			<div class="item"><a href="#menu" ng-click="goMenu();"><img src="http://buffetexpress.co/resources/images/1.jpg" alt="..." title="..." /></a></div>
			<div class="item"><a href="" ng-click="fullDish('recomendado')"><img src="http://buffetexpress.co/resources/images/2.jpg" alt="..." title="..." /></a></div>
		</wrap-owlcarousel>	
		<div class="imgcodigo Cbuffet">
			<a href=""><img src="http://buffetexpress.co/resources/images/codigodi.png" alt="..." title="..." /></a>
		</div> 
	</div>

<div class="verplato">
	<img src="images/cerr_vpla.png" alt="..." class="cerrves" ng-click="closeDish()" />
	<div class="food">
		<div class="col-xs-6 col-md-6">
			<div class="fooda ff1">
				<img class="fis" ng-src=""/>
				<img src="images/plato_2.png"/>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="fooda ff2">
				<img class="fis2" ng-src=""/>
				<img src="images/plato_3.png"/>
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="fooda ff3">
				<img class="fis3" ng-src=""/>
				<img src="images/plato.png"/>
			</div>
		</div>
	</div>
</div>	
<!-- fin contenido slider  --> 