<!-- Contenido slider  -->
<div class="buffet contenidogeneral">
 <wrap-owlcarousel id="owl-demo" class="owl-carousel owl-theme" 
 data-options="{autoPlay: 5000,stopOnHover: true,slideSpeed : 300,paginationSpeed : 400, singleItem : true}">
 <div class="item"><a href="#menu" ng-click="goMenu();"><img src="http://buffetexpress.co/REST/resources/images/1.jpg" alt="..." title="..." /></a></div>
 <div class="item"><a href="" ng-click="recomendado()"><img src="http://buffetexpress.co/REST/resources/images/2.jpg" alt="..." title="..." /></a></div>
</wrap-owlcarousel>	
<div class="imgcodigo Cbuffet">
 <a href="" ng-click="open('costoad')"><img src="http://buffetexpress.co/REST/resources/images/codigodi.png" alt="..." title="..." /></a>
</div> 
<div class="costoad">
  <div class="cont">
    <img src="images/cerr_vpla.png" alt="..." alt="..." class="cerrvess" ng-click="close('costoad')">
    <h1>CODIGO DINAMICO S.A.S</h1>
    <p>Código Dinámico Es una empresa creada con el fin de acompañar a  sus clientes en el proceso de creacion de su página web de una forma seria, segura, a corto tiempo y económica.</p>   
  </div>
</div>
</div>
<!-- fin contenido slider  --> 