<!-- Contenido slider  -->
<div class="buffet contenidogeneral">
 <wrap-owlcarousel id="owl-demo" class="owl-carousel owl-theme" 
 data-options="{autoPlay: 5000,stopOnHover: true,slideSpeed : 300,paginationSpeed : 400, singleItem : true}">
 <div class="item"><a href="#menu" ng-click="goMenu();"><img src="http://buffetexpress.co/REST/resources/images/1.jpg" alt="..." title="..." /></a></div>
 <div class="item"><a href="" ng-click="fullDish('recomendado')"><img src="http://buffetexpress.co/REST/resources/images/2.jpg" alt="..." title="..." /></a></div>
</wrap-owlcarousel>	
<div class="imgcodigo Cbuffet">
 <a href=""><img src="http://buffetexpress.co/REST/resources/images/codigodi.png" alt="..." title="..." /></a>
</div> 
</div>

<div class="verplato">
	<img src="images/cerr_vpla.png" alt="..." class="cerrves" ng-click="closeDish()" />
    <div class="padre">

       <div class = "derrap">

         <div class="contenedor">

           <div class="sopa">
            <img src="images/plato_2.png" style="width:100%;" border="0" margin="0"/>

            <div class="sopacont">
                <img src="images/sopa.png" style="width:100%;" border="0" margin="0"/>
            </div>

        </div>

        <div class="vaso">
          <img src="images/plato_3.png" style="width:100%;" border="0" margin="0"/>

          <div class="jugo">
           <img src="images/jugo.png" style="width:100%;" border="0" margin="0"/>
       </div>

   </div>

   <div class="plato">
       <img src="images/plato.png" style="width:100%;" border="0" margin="0"/>

       <div class="arroz">
        <img src="images/arroz_2.png" style="width:100%;" border="0" margin="0"/>
    </div>

    <div class="guarnicion">
        <img src="images/guarnicion_2.png" style="width:100%;" border="0" margin="0"/>
    </div>

    <div class="carne">
        <img src="images/c109_2.png" style="width:100%;" border="0" margin="0"/>
    </div>

</div>

</div>
</div>
</div>
</div>

<!-- fin contenido slider  --> 